* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: url(img/wallpaper.webp) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.container {
    background-color: #d1d1d1;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    max-width: 500px; /* agora limita em 500px no máximo */
    width: 90%; /* ocupa 90% da tela em telas pequenas */
}

.container h1 {
    color: rgb(58, 57, 57);
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

.input-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-size: 0.9em;
    width: calc(100% - 120px); /* ocupa o espaço sobrando ao lado do botão */
    margin-bottom: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #663159;
    color: white;
    font-size: 17px;
    padding: 0px 15px;
    cursor: pointer;
    font-weight: 700;
}

/* Para evitar o float e deixar flexível */
.input-wrapper {
    display: flex;
    gap: 10px;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 25px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.26);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}

/* Responsividade extra */
@media (max-width: 400px) {
    .container h1 {
        font-size: 1.5em;
    }

    .input-wrapper {
        flex-direction: column; /* input e botão ficam empilhados */
    }

    .input-task,
    .button-add-task {
        width: 100%;
    }
}
